<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ButtonSuite">
  <test name="Test">
    <classes>
      <class name="testNG3.Buttons_find"/>
      <class name="testNG3.Tagname"/>  			
    </classes>
  </test> <!-- Test -->
</suite> <!-- ButtonSuite -->
